{% extends 'base.html' %}

{% block title %}
    Department List
{% endblock title %}

{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Company departments</h1>
            <div class="cell">
                <table>
                    <tbody>
                        {% for dep in departments %}
                            <tr>
                                <td>{{ dep.name}}</td>
                                <td>{{ dep.short_name}}</td>
                                <td>
                                    <a class="button primary" href="{% url 'person_app:area_employee' dep.short_name %}">See employees</a>
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
        