{% extends 'base.html' %}

{% block title %}
    Employees department
{% endblock title %}
    
{% block content %}
    {% include 'includes/header.html' %}
    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Employees by area</h1>
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                            <th width="200">ID</th>
                            <th width="200">Name</th>
                            <th width="150">Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in employees %}
                            <tr>
                                <td>{{ e.id }}</td>
                                <td>{{ e.first_name }}</td>
                                <td>{{ e.last_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}